.new-tweet-container{
  /* padding-bottom: 2px; */
}


.new-tweet-container .tweets{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--secondary-charcoal);
  color: var(--primary-white);
  /* padding-bottom: 0px; */
  /* border: 2px solid white; */
}

.liked{
  
}