@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');






/* *{

  padding: 0;
  box-sizing: border-box;
} */

*{
  box-sizing: border-box;
  
}

:root{



/* Reusable code  */

/* colors */

  --primary-white: #FFF;
--tertiary-grey: #CBD0D9;
--secondary-charcoal: #3A3D45;
--primary-black: #000;
--secondary-blue: #4A98E9;


}

#root{
  display: flex;
flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
