.top-bar{
    /* height: 88px; */
    width: 100vw;
    border-bottom: 1px solid var(--secondary-charcoal);
}

.home-text{
    color: var(--primary-white);
text-align: center;
font-family: SF Pro Text;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.3px;
padding: 13px 344px 18px 18px;
}

.top-tabs{
    
    /* width: 100vw; */
display: flex;
padding:0px 84px 0px 65px;

}

.top-tabs-text{
    display: flex;
gap: 65px;
align-items: center;
justify-content: space-between;
}


.top-tabs span{
    border-bottom: 4px solid var(--secondary-blue) ;
    padding-bottom: 10px;

    color: var(--primary-white);
text-align: center;
font-family: SF Pro Text;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.3px;
}


