.tweet-container{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.tweets{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--secondary-charcoal);
    color: var(--primary-white);
    border: 2px solid white;
}

.tweet{
    display: flex;
    flex-direction: column;
}
.tweets .pfp-container{
    width: 45px;
height: 45px;
flex-shrink: 0;
padding-right: 8px;
padding-left: 12px;
}

.intro-container{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.intro-container .name{
    color: #FFF;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

.intro-container .user-id{
    color: var(--Darken-text, #687684);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}

.intro-container .dot{
    color: var(--Darken-text, #687684);
/* font-family: SF Pro Text; */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}

.intro-container img{
    width: 14px;
height: 14px;
flex-shrink: 0;
/* border: 2px solid white; */
margin-top: 0px;

}

.intro-container .dot{
    margin-top: 8px;
}
.intro-container .date{
    color: var(--Darken-text, #687684);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}




.tweet-content{
}

.action-button-container{
    display: inline-flex;
    gap: 32px;
    padding-left: 4px;
}

.action-button-container .replies-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5px;
}

.action-button-container .replies-button p{
    color: #72767A;
/* font-family: SF Pro Text; */
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}

.action-button-container .replies-button img{
    width: 15px;
    height: 14.508px;
    flex-shrink: 0;
    margin-top: 0;
}


.action-button-container .like-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5px;
}

.action-button-container .like-button p{
    color: #72767A;
/* font-family: SF Pro Text; */
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}

.action-button-container .like-button img{
    width: 15px;
    height: 14.508px;
    flex-shrink: 0;
    margin-top: 0;
}

.action-button-container .retweet-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5px;
}

.action-button-container .retweet-button p{
    color: #72767A;
/* font-family: SF Pro Text; */
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}

.action-button-container .retweet-button img{
    width: 15px;
    height: 14.508px;
    flex-shrink: 0;
    margin-top: 0;
}


.action-button-container .share-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5px;
}

.action-button-container .share-button p{
    color: #72767A;
/* font-family: SF Pro Text; */
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}

.action-button-container .share-button img{
    width: 15px;
    height: 14.508px;
    flex-shrink: 0;
    margin-top: 0;
}