.navigation-bar{
    /* position: fixed; */
}


.side-list{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    /* padding: 20px; */
    margin-right: -72px;
}

.links a{

}
.links a{
    display: flex;
width: 251px;
height: 50px;
padding: 13px 142px 13px 13px;
align-items: flex-start;
gap: 20px;
text-decoration: none;
color: white;
}


.links img{
    filter: invert(1);  
    display: flex;
    width: 24px;
    height: 24px;
    /* padding: 1.777px 0.898px 1.973px 0.9px; */
    margin-top: -3px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;}


    .post-button{
        align-items: center;
        justify-content: center;
        padding-left: 12px;
    }

    .post-button button{
        display: flex;
    width: 74px;
    height: 34px;
    padding: 9px 16px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 36px;
    background-color: var(--secondary-blue);
    color: var(--primary-white);
    margin-top: 54px;
    margin-left: 36px;
    border: none;
    
    
    }